:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    --background-color: #242424;
    --text-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
    --background-color: #ffffff;
    --text-color: #242424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    min-width: 320px;
    min-height: 100vh;
    background-image: url("/dist/images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 2rem;
}

header,
main {
    max-width: 38rem;
    margin: auto;
}
ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

main {
    margin-top: 2rem;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

fieldset {
    position: relative;
    border: none;
}

#deleteButton span,
#themeToggle span,
label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

input {
    width: 100%;
    height: 60px;
    background-color: #242424;
    border: none;
    padding: 0px 20px;
    margin-bottom: 30px;
}

#todoList {
    background-color: #242424;
}

#todoList ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.75);
}

#reOrder:hover {
    cursor: grab;
}

#checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#checkbox input {
    display: block;
    margin: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    fill: #242424;
    border: none;
}

#deleteButton {
    width: 20px;
    height: auto;
    padding: 1px;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#deleteButton svg path {
    stroke: rgb(155, 0, 0);
}

#filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #242424;
    padding: 15px 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
}

#filter ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#filter button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

#filter button.active {
    color: rgb(0, 140, 255);
}

#themeToggle {
    width: 20px;
    height: 20px;
    background-color: transparent;
    padding: 1px;
    outline: none;
    border: none;
    cursor: pointer;
    background-image: url("/dist/images/icon-sun.svg");
    background-size: cover;
}

#user-hint {
    text-align: center;
    margin-top: 25px;
}

[data-theme="light"] {
    body {
        background-image: url("/dist/images/bg-desktop-light.jpg");
    }
    #themeToggle {
        background-image: url("/dist/images/icon-moon.svg");
    }
    #todoList,
    #filter,
    input {
        background-color: #ffffff;
    }
}

@media screen and (max-width: 850px) {
    body {
        background-image: url("/dist/images/bg-mobile-dark.jpg");
    }

    header,
    main {
        max-width: 90%;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: var(--background-color);
        color: var(--text-color);
        background-image: url("/dist/images/bg-desktop-light.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}
